<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->

<head profile="http://www.w3.org/1999/xhtml/vocab">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" href="/css/01.css" media="all" />
<link type="text/css" rel="stylesheet" href="/css/02.css" media="all" />
<link type="text/css" rel="stylesheet" href="/css/04.css" media="all" />
<link type="text/css" rel="stylesheet" href="/css/05.css" media="all" />
<link type="text/css" rel="stylesheet" href="/css/06.css" media="all" />
<link type="text/css" rel="stylesheet" href="/css/07.css" media="sreen" />
<link type="text/css" rel="stylesheet" href="/css/08.css" media="print" />

</head>
<body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-6097 node-type-news i18n-en" >

<div id="wrapper">

      
<div class="gridContainer clearfix">
  <div id="header">
  <div id="search">
  <ul>
  	<li><a href="/">Home</a></li>
	    <!--this php code goes in the page.tpl.php or in a block with php filter -->
<li><a href='/user' >Login</a></li> 
<li><a href="/contact-us">Contact us</a></li>
  </ul>
    <div class="region region-search">
    

    

    <form action="/news/tml-supports-community-projects-addressing-determinants-of-health" method="post" id="search-block-form" accept-charset="UTF-8"><div><div class="container-inline">
      <h2 class="element-invisible">Search form</h2>
    <div class="form-item form-type-textfield form-item-search-block-form">
  <label class="element-invisible" for="edit-search-block-form--2">Search </label>
 <input title="Enter the terms you wish to search for." type="text" id="edit-search-block-form--2" name="search_block_form" value="" size="15" maxlength="128" class="form-text" />
</div>
<div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="Search" class="form-submit" /></div><input type="hidden" name="form_build_id" value="form-8MXoUjre46pU-smax4KDAeDns9GzR78KZ5kl0G6WVoY" />
<input type="hidden" name="form_id" value="search_block_form" />
</div>
</div></form>

  </div>
  </div>
  <a href="/" class="logo"></a></div>
  <div id="navigation" class="round-shadow">
    <div class="region region-mainmenu">
    

    

    <ul class="menu"><li class="first leaf menu-536"><a href="/programs-services" class="button1 menu-536">Programs and services</a></li>
<li class="leaf menu-313"><a href="/for-the-community?user_type=for-the-community" class="button2 menu-313">For the community</a></li>
<li class="leaf menu-540"><a href="/for-health-professionals?user_type=for-health-professionals" class="button3 menu-540">For health professionals</a></li>
<li class="leaf menu-2971"><a href="/membership" class="menu-2971">Membership</a></li>
<li class="last leaf menu-539"><a href="/about-us" class="button5 menu-539">About us</a></li>
</ul>

  </div>
  </div>
  

  
  
  <div id="breadcrumb">
  <div class="tabs"></div> 
      <div class="region region-breadcrumb">
    

    

    <div class="easy-breadcrumb"><a href="/" class="easy-breadcrumb_segment easy-breadcrumb_segment-front">Home</a><span class="easy-breadcrumb_segment-separator">  </span><a href="/news" class="easy-breadcrumb_segment easy-breadcrumb_segment-1">News</a><span class="easy-breadcrumb_segment-separator">  </span><span class="easy-breadcrumb_segment easy-breadcrumb_segment-title">TML supports community projects addressing determinants of health</span></div>

  </div>
  </div>
  
  
 
  
  
  <div id="content"> 
 
    <div class="content-module round-shadow">
    <div class="more-links"><a href="#" onclick="myFunction()" class="print-button">Print this page</a>
	<script>
		function myFunction()
		{
		window.print();
		}
	</script>   
    </div>
<h1 class="module-heading">News</h1>
  <div class="region region-content">
<div id="node-6097" class="node node-news node-promoted clearfix" about="/news/tml-supports-community-projects-addressing-determinants-of-health" typeof="sioc:Item foaf:Document">
 
      
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded">
{{ content }}
</div></div></div>  </div>
  

  
  
</div>


  </div>
    
    
    </div>
</div>
  <div id="section-navigation">
  <div class="content-module round-shadow section-links">
  
  
  <div class="region region-sidenavigation">
    

    <h1 class="module-heading">In this section</h1>
  

    <ul class="menu"><li class="leaf"></li>
</ul>

  </div>
  
  </div>
  </div>
  <div id="widget">
  <div class="content-module round-shadow">
    <h1 class="module-heading">Health Services Directory</h1>
    <p></p>

    </div>
    

    
  </div>
  
    <div id="footer" class="round-shadow">
    <a href="/contact-us" class="phone">1300 653 169</a>
      <div class="region region-footer">
    

    

    <ul class="menu"><li class="first leaf menu-2682"><a href="/" title="" class="menu-2682">Home</a></li>
<li class="leaf menu-2683"><a href="/terms-of-use" title="" class="menu-2683">Terms of use</a></li>
<li class="leaf menu-2684"><a href="/privacy-policy" title="" class="menu-2684">Privacy policy</a></li>
<li class="last leaf menu-2686"><a href="/contact-us" title="" class="menu-2686">Contact us</a></li>
</ul>

  </div>
</div>
<div id="credits" class="clear">
<p align="center">FTITCMC</p>
<p align="center" style="margin-bottom: 100px;">&copy; 

Some rights reserved.</p>
</div>
</div>
    
</div>  
  
 </body>
</html>
